// Confirm popup
.confirm-popup {
  &.MuiDialog-paper {
    @media (max-width: 389px) {
      margin: 20px;
    }
  }

  .form {
    padding: 16px;
    max-width: 500px;
    width: 100%;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(210, 210, 210) 0 2px 5px 0;
  }

  &__title.MuiTypography-h6 {
    padding: 0 0 8px;
  }

  &__actions.MuiDialogActions-spacing {
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
  }

  .form .btn {
    margin-left: 0;
    text-transform: none;

    @media (min-width: 576px) {
      max-width: 150px;
    }
  }
}

// Delete popup
.delete-popup {
  &.MuiDialog-paper {
    @media (max-width: 389px) {
      margin: 20px;
    }
  }

  &__title.MuiTypography-h6 {
    padding: 16px;
    font-size: 18px;
  }

  &__actions.MuiDialogActions-spacing {
    flex-wrap: wrap;
    gap: 15px;
    padding: 16px;

    .btn {
      margin-left: 0;
      text-transform: none;

      @media (min-width: 576px) {
        max-width: 150px;
      }
    }
  }
}

// Edit profile
.edit-profile {
  &__action {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    .btn {
      text-transform: none;
    }
  }
}