// Import mixins and variables
@import "../../assets/scss/assets/util";

.timer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;

  @include media(min, $sm) {
    gap: 60px;
  }

  &-block h4 {
    margin-bottom: 0.5em;
    font-weight: 600;

    @include media(max, $sm) {
      @include font-size(20);
    }
  }

  &__item {
    min-width: 50px;

    @include media(min, $sm) {
      min-width: 90px;
    }
  }

  &__value,
  &__label {
    display: block;
    text-align: center;
    font-weight: 700;
  }

  &__value {
    font-size: 60px;

    @include media(max, $sm) {
      @include font-size(20);
    }
  }

  &__label {
    padding-top: 15px;
    font-size: 14px;
    color: #7d7d7d;
    text-transform: uppercase;
    border-top: 3px solid #014e87;
  }
}
