.header {
  background: #432874;
  color: #eee;

 &-content {
   display: flex;
   align-items: center;
   gap: 35px;
   padding: 15px 0;

   & .nav-menu {
     margin-left: auto;

     &__list {
       display: flex;
       gap: 20px;
     }
   }
 }
}
