.reset-password-form-wrapper {
  border-radius: 4px;
  background-color: #fff;
}

.reset-password {
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
  max-width: 700px;

  &__title.MuiTypography-h5 {
    margin-bottom: 0.5em;
    font-weight: 600;
  }

  .form {
    padding: 16px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);

    .btn {
      display: flex;
      margin-left: auto;
    }
  }

  .reset-success {
    padding: 16px;
  }

  .login-or-register.MuiTypography-body {
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0 16px 16px;
    text-align: center;
  }

  .MuiAlert-standardError {
    margin-bottom: 15px;
  }
}
