// Montserrat
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/montserrat/montserrat-regular.woff') format('woff'),
       url('../../fonts/montserrat/montserrat-regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
