.task-isDone {
  h4,
  p {
    text-decoration: line-through;
    opacity: .4;
    pointer-events: none;
  }
}

.to-do__form {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  padding: 16px;
  box-shadow: rgb(210, 210, 210) 0 2px 5px 0;
}

.delete-to-do-task .btn,
.edit-to-do-task-form .btn {
  width: 130px;
  text-transform: none;
}

.edit-to-do-task-form {
  padding: 16px;
  width: 500px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(210, 210, 210) 0 2px 5px 0;
}

.todo-list {
  &__item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__task {
    position: relative;
    padding: 16px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 #d2d2d2;

    &-title {
      padding-right: 160px;
      line-height: 1.5;
    }

    &-info.MuiTypography-body1 {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      margin-bottom: 0;
      font-size: 12px;
      text-decoration: none;
    }

    &-actions {
      position: absolute;
      top: 16px;
      right: 16px;

      button {
        margin-left: 16px;
        padding: 8px;
        min-width: inherit;
      }
    }
  }
}
